body{
    background-color: #D3D3D3;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;   
}

.btns{
    padding: 8px;
    border: none;
    width: 200px;
    box-shadow: 4px 5px 5px black;
    margin-top: 12px;
    background-color: #DAA520;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btns:hover{
    box-shadow: none;
    background-color: rgb(189, 143, 26);
}

input{
    width: 200px;
    margin-bottom: 6px;
}

#salarioColor{
    color: green;
}

#dados{
    color: purple;
}

.backgroundFormulario{
    margin-top: 80px;
}
